/* .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;;
    grid-template-areas:
        "head head head head"
        "aside aside main main"
        "footer footer footer footer";
}

.header {
    height: 200px;
    background-color: orange;
    grid-area: head;
}

.main {
    height: 200px;
    background-color: lightblue;
    grid-area: main;
}

.aside {
    height: 200px;
    background-color: lightcoral;
    grid-area: aside;
}

.footer {
    height: 200px;
    background-color: lightgreen;
    grid-area: footer;
} */

.parent-element {
    width: 300px;
    height: 1000px;
    background-color: lightsalmon;
    /* position: relative; */
}

.child-element {
    width: 300px;
    height: 150px;
    background-color: lightskyblue;
    position: static;
    top: 20px;
    bottom: 30px;
}

.red {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 1;
}

.orange {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    top: 140px;
    left: 140px;
    z-index: 5;
}

.blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3;
}

.green {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 4;
}