body {
    background-color: lightgray;
    box-sizing: border-box;
}

.parent {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    height: 800px;
}
.item {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: 2px solid black;
}