@media all, print {
    h1 {
        color: blue;
    }
}

h1 {
    color: green;
}

@media screen and (max-width: 500px) {
    h1 {
        color: red;
    }
}

@media (orientation: landscape) and (max-width: 300px) {
    h1 {
        color: pink;
    }
}