body {
    margin: 0;
}

.anchor-link {
    display: block;
}

p {
    width: 240px;
    max-width: 25%;
    min-width: 240px;
    background-color: aqua;
    height: 300px;
    max-height: 200px;
    min-height: 150px;
    
    margin: 20px 50px 40px 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
}